* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #F0F2F5;
}

.flex-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 120px;
}

.flex-item {
    width: 400px;
}

.flex-item:nth-child(2) {
    text-align: center;
    margin-left: 150px;
}

.logo {
    width: 300px;
    padding-top: 50px;
}

.logo + p {
    font-size: 22px;
    margin-bottom: 20px;
}

.div1 {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 8px rgb(160, 157, 157);
}

.div1 p {
    padding-right: 30px;
}

.input {
    width: 100%;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid rgb(197, 191, 191);
    font-size: 16px;
    margin-bottom: 12px;
}

.log_in {
    width: 100%;
    background-color: #0865FC;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 13px;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 15px;
}

.div1 a {
    font-size: 14px;
    text-decoration: none;
    color: #0865FC;
}

.div1 a:hover {
    text-decoration: underline;
}

.div1 hr {
    margin-top: 20px;
    margin-bottom: 10px;
}

.modal_btn {
    background-color: #42B72A;
    color: #fff;
    border: none;
    border-radius: 6px;
    padding: 15px;
    font-size: 16px;
    font-weight: 700;
    margin: 12px 0 0;
    cursor: pointer;
}

.p1 {
    margin-top: 30px;
}

.a1 {
    text-decoration: none;
    color: #000;
    font-weight: 700;
}

.modal {
    width: 100%;
    height: 100vh;
    background-color: #ffffff73;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    justify-content: center;
}

.modal_show {
    display: flex;
}

.sign_up {
    background-color: #fff;
    width: 450px;
    height: 85vh;
    margin-top: 50px;
    border-radius: 15px;
    box-shadow: 0 0 8px rgb(160, 157, 157);
}

.top {
    position: relative;
    border-bottom: 1px solid #d2d6dd;
    padding: 15px 0 15px 15px;
}

.top > h2 {
    font-size: 28px;
}

.top > p {
    color: #606771;
}

.close > i {
    color: #606771;
    font-size: 24px;
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
}

.bottom {
    padding: 15px;
}

.bottom input {
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid rgb(197, 191, 191);
    margin-bottom: 10px;
}

.input2 {
    padding: 10px 210px 10px 10px;
}

.bottom span {
    color: #606771;
    font-size: 14px;
    cursor: pointer;
}

.name input {
    padding: 10px 0 10px 10px;
}

select {
    width: 136px;
    padding: 8px;
    border: 1px solid #bdc4ce;
    border-radius: 5px;
    margin-bottom: 10px;
}

.gender_flex {
    display: flex;
    justify-content: space-between;
}

.gender {
    border: 1px solid #bdc4ce;
    margin-right: 10px;
    padding: 5px;
    border-radius: 5px;
    width: 30%;
}

.gender input {
    margin-left: 50px;
    margin-top: 8px;
}

.text {
    font-size: 12px;
    color: #606771;
    margin-top: 10px;
}

.text > a {
    text-decoration: none;
    color: #0865FC;
}

.btn {
    text-align: center;
}

.sign_up_btn {
    background-color: #42B72A;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 70px;
    font-size: 16px;
    font-weight: 700;
    margin-top: 25px;
}

@media screen and (max-width: 964px) {
    .flex-item:nth-child(2) {
        margin-left: 0;
    }

    .flex-container {
        padding-top: 30px;
    }
}