* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#slider_content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

#slider {
    width: 600px;
    height: 240px;
    text-align: center;
    overflow: hidden;
    margin: 20px;
}

img {
    width: 200px;
    border: 1px solid rgb(125, 129, 136);
}

.left_arrow,
.right_arrow {
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%;
    background-color:rgb(125, 129, 136);
    color: #fff;
    font-size: 24px;
    cursor: pointer;
    position: relative;
}

i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}